<html lang="en">
<head>
  <script>
if (location.protocol != 'https:') {
 location.href = 'https:' + window.location.href.substring(window.location.protocol.length);
}
</script>
    <meta charset="UTF-8">
<script src="https://www.gstatic.com/firebasejs/6.3.1/firebase-app.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">  
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-database.js"></script>
<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->      
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="admin.js"></script>
    <title>Admin || <%=user.username%> </title>

</head>
<body>
      <link rel="shortcut icon" href="https://cdn.glitch.com/a41b7884-47f3-4b54-aba8-dfda5825d37f%2Faaee.jpg?v=1579489039463" type="image/x-icon">
      <nav style="color:white;font-size:19px;" class="navbar navbar-expand-md" id="navbar">
<a style="background:transparent;font-size:35px;text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);" class="navbar-brand" href="/">Cloud List</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
            aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
            <ul class="navbar-nav ml-auto">
               <li  class="nav-item active">
                  <a  class="nav-link" href="/server">
                  <i class="fab fa-discord"></i> Join Discord</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/add">
                  <i class="fas fa-plus-square"></i> Add Bot</a>
               </li>
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  More
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                     <a class="dropdown-item" href="/tos"><i class="fas fa-info-circle"></i> TOS</a>
                     <a class="dropdown-item" href="/markdown"><i class="fas fa-info-circle"></i> Markdown</a>      
                     <a class="dropdown-item" href="/apidocs"><i class="fas fa-info-circle"></i> Api docs</a>
                  </div>
               </li>
              <%if(status === "") {%>
               <li id="login" class="nav-item">
                  <a class="nav-link" id="login_discord" href="<%=url%>">
                  <i class="fas fa-sign-in-alt"></i> Login With Discord</a>
               </li>
              <%}else {%>
               <li id="drop" class="nav-item dropdown" style="display: initial;">
                  <a class="nav-link dropdown-toggle" id="user_drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-user"></i> <%=status.username%>#<%=status.discriminator%></a>
                  <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4" style="background-color;white;;cursor:pointer;color:black">
                     <a style="color:black" class="dropdown-item" href="/mybots" style="color: white"><i class="fas fa-database"></i> My Bots</a>
                     <a style="color:black"  class="dropdown-item" href="/user" style="color: white"><i class="fas fa-user"></i> Profile</a>
                     <a style="color:black"  class="dropdown-item" href="/api/keys" style="color: white"><i class="fas fa-key"></i> Api Keys</a>
                     <a style="color:black"  class="dropdown-item" href="/myapikeys" style="color: white"><i class="fas fa-key"></i> My Api Keys</a>
                     <a style="color:black"  class="dropdown-item" href="/admin" style="color: white"><i class="fas fa-user-shield"></i> Bots</a>
                     <div class="dropdown-divider"></div>
                     <a style="color:black"  class="dropdown-item" href="logout" style="color: white"><i class="fas fa-sign-out-alt"></i> Log out</a>
                  </div>
               </li>
              <%}%>
            </ul>
         </div>
      </nav>
 <div class="container-fluid cont">
  <br />
  <h1 id="Title_Dashboard" style="text-align:center;">Dashboard</h1>
  <br />
  <hr style="background-size: 4px; border-top: 4px solid #FFF0F2;
  border-color: #1E2124;"><br />
  <!-- Commands -->
  <!-- Nav pills -->
  <div class="container">

 
  <div class="container text-center mt-0 mb-0 branding-content text-light pb-3 mb-3">
    <h3>Queue Bots</h3>
  </div>
</div>
   
  <div class="tab-content">

   

<div class="container mt-5 body">
  <table class="table table-striped table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Bot's owner</th>
        <th scope="col">Bot</th>
        <th scope="col">Prefix</th>
        <th scope="col">Invite</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody id="tbody">
      <% data.forEach(function(data) { %>
      <th>
      <input type="text" name="owner" id="inputName" value="<%=data.val().owner%>" class="form-control" readOnly>
      </th>
        <th>
      <input type="text" name="bot" id="inputBot" value="<%=data.val().bot%>" class="form-control" readOnly>
      </th>    
        <th>
      <input type="text"  name="prefix" id="inputPrefix" value="<%=data.val().prefix%>" class="form-control" readOnly>
      </th>   
        <th>
      <button class="btn btn-info" onclick="window.open('<%=data.val().bot_invite%>')">invite</button>      
      </th>  
        <th>
      <button class="btn btn-outline-success" onclick="Accept()">Accept</button>      
      </th>   
        <th>
      <button class="btn btn-outline-danger" onclick="Reject()">Reject</button>      
      </th>
      <% }); %>   
      </tbody>           
  </table>
</div>
 

 

  
  
  <!-- End of Cont -->
</div><br />
</body>
</html>
  


  <!-- End of Cont -->

<style>
    .nav-item {
      color:white;
      cursor:pointer;
    }
#navbar {
  opacity: 70%;
  height: 70px;
  background: transparent; // Transparent initial setting
  display: block;
  color:white;
  position: fixed;
  width: 100%;
  z-index: 99999;
  transition: all ease .5s;
}
  #navbar.shrink {
  height: auto;
  transition: all ease .5s;
  background-color:#23272A
}
a:link
{
color:white;
text-decoration:none;
}
a{
color:white;
text-decoration:none;
}

    a:hover {
      color:gray;
    }
  </style>

<style>

.bg-blurple {
  background: #7289DA;
}

.text-blurple {
  color: #7289DA;
}
#logo {
  width:40px;
  border-radius:40px;
}
#content{
  margin-top:80px;
  display:grid;
  /*grid-template-columns:33.3% 33.3% 33.3%;*/
 /* grid-template-columns: 1fr 1fr 1fr;*/
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: minmax(auto);
  grid-column-gap:10px;
  grid-row-gap:10px;
  margin-left:10px;
  margin-right:10px;
  /*grid-auto-rows: minmax(200px,auto);*/
  max-width:100%;
}
#content div {
 padding: 10px;
 background-color:#1E2124;
}


#image:hover{
  opacity: 0.3;
  text-align:justify;
  cursor:pointer;
}

.container-fluid {
  border-bottom: 4px solid #171A1C;
}

.bg-primary {
  background:#1E2124 !important;
}

.disabled {
  color:#c9c9c9 !important;
  cursor:not-allowed;
}

p {
  font-size:18px;
}

.nav-item {
  padding-left:8px;
}


.bg-dark {
  background:#23272A !important;
  border-bottom: 4px solid #171A1C;
}

.avi {
  width:50px;
  height:auto;
  float:left;
}

.smalltext {
  font-size:12px;
}

.line {
  border-bottom: 5px #000 !important;
}

.grey {
  color:#737373;
}

.card-icon {
  font-size:72px;
  text-align:center;
  padding-bottom:10px;
}


.title {
  color:#fff;
  padding-left:10px;
  float:left;
}



.dropdown-divider {
  background:#1E2124;
}

.footer {
  padding-left:30px;
  line-height:30px;
}

.cont {
  padding:30px;
  height:auto;
  background:#23272A;
}
  
    .close {
    background: red;
    width: 25px;
    height: 25px;
    position: relative;
}
.close:after {
    content: '';
    height: 25px;
    border-left: 2px solid #fff;
    position: absolute;
    transform: rotate(45deg);
    left: 12px;
}

.close:before {
    content: '';
    height: 25px;
    border-left: 2px solid #fff;
    position: absolute;
    transform: rotate(-45deg);
    left: 12px;
}

</style>



